header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "inter";
}

ul,
h1,
h1,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

li {
    margin-left: 22px;
    font-size: 15px;
    color: #72787D;
    transition: 0.5s;
}

li:hover {
    color: #036FC7;
}